header{
    background: rgb(192, 191, 192);
    padding: 18px;
    color: white;
    height: 100px;
    font-style: italic;
}

header h1{
    display: inline-block;
    position: relative;
    bottom: 30px;
    margin-left: 10px;
    font-family: "Inconsolata", monospace;
    font-size: 40px;
}

nav{
    background-color: rgb(166, 165, 165);
    margin-top: -16px;
    height: 30px;
}

ul{
    /*background-color: rgb(191, 190, 190);*/
    list-style: none;
    display: flex;
}

ul li{
    flex-grow: 1;
    font-family: "Inconsolata", monospace;
    display: flex;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    text-align: center;
}

.dise単osliving{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    background-color: rgb(228, 234, 255);
    border-top: solid rgb(128, 128, 128);
    border-bottom: solid rgb(128, 128, 128);
}

.dise単oscomedor{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(254, 228, 228);
    border-top: solid rgb(128, 128, 128);
    border-bottom: solid rgb(128, 128, 128);
}

.dise単ospatio{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(236, 255, 231);
    border-top: solid rgb(128, 128, 128);
    border-bottom: solid rgb(128, 128, 128);
}

.dise単os{
    margin: 10px;
}

nav ul li a:hover {
    background-color: gray;
}

footer{
    background-color: rgb(166, 166, 166);
    clear: both;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

nav ul li a.activo{
    background-color: gray;
}

.holder{
    max-width: 1200px;
    margin: 0% auto;
}

main h3{
    font-size: 25px;
    font-family: "Inconsolata", monospace;
}

.h3zonas{
    text-align: center;
}